<div class="sm:mx-44 mx-10 aclonica-font text-center borde flex justify-center items-center">
  <div class="grid sm:grid-cols-3 grid-cols-3 gap-4 bg-gradient-to-r from-red-500 to-red-900 text-white sm:rounded-full rounded-2xl">
    <div class="flex flex-col justify-center items-center cursor-pointer" (click)="selectMenuOption('editProfile')">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill='#FFFFFF' class="icon">
        <path d="m18.988 2.012 3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287-3-3L8 13z"></path>
        <path d="M19 19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 0 0 2-2v-8.668l-2 2V19z"></path>
      </svg>
      <p>Perfil</p>
    </div>
    <div class="flex flex-col justify-center items-center cursor-pointer" (click)="selectMenuOption('favouriteVideos')">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #FFC300;" class="icon">
        <path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path>
      </svg>
      <p>Videos guardados</p>
    </div>

    <div class="flex flex-col justify-center items-center cursor-pointer" (click)="selectMenuOption('orders')">
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='#FFFFFF' width='24' height='24' class="icon">
        <path d="M21.822 7.431A1 1 0 0 0 21 7H7.333L6.179 4.23A1.994 1.994 0 0 0 4.333 3H2v2h2.333l4.744 11.385A1 1 0 0 0 10 17h8c.417 0 .79-.259.937-.648l3-8a1 1 0 0 0-.115-.921z"></path>
        <circle cx="10.5" cy="19.5" r="1.5"></circle>
        <circle cx="17.5" cy="19.5" r="1.5"></circle>
      </svg>
      <p>Mis pedidos</p>
    </div>
  </div>
</div>
