<section *ngIf="openCookie"
  class="fixed max-w-md p-4 mx-auto bg-red-200 border border-gray-400 dark:bg-gray-800 sm:right-12 right-3 sm:bottom-20 bottom-16 dark:border-gray-700 rounded-2xl z-40">
  <h2 class="font-semibold text-gray-800 dark:text-white">🍪 Acerca de las cookies en este sitio</h2>

  <p class="mt-4 text-sm text-gray-600 dark:text-gray-300">Las cookies garantizan que nuestro sitio web funcione.</p>
  <p class="mt-4 text-sm text-gray-600 dark:text-gray-300">
    Ofrecemos cookies "funcionales" que personalizarán su experiencia sobre el contenido de Blooy Knee como guardar
    productos que le hayan gustado y así poder actualizarlos dependiendo del stock del
    producto.</p>

  <div class="flex items-center justify-end mt-4 gap-x-4 shrink-0">
    <button (click)="closeCookie()"
      class=" text-xs bg-red-600 font-medium rounded-lg hover:bg-red-700 text-white px-4 py-2.5 duration-300 transition-colors focus:outline-none">
      Aceptar
    </button>
    <button (click)="closeCookie()"
      class=" text-xs bg-gray-900 font-medium rounded-lg hover:bg-gray-700 text-white px-4 py-2.5 duration-300 transition-colors focus:outline-none">
      Rechazar
    </button>
  </div>
</section>
