<div class="sm:text-center aclonica-font fondo_bk overflow-auto">
  <h1 class="text-center mb-4">BO<span class="text-red-600">XEO</span></h1>

  <!-- Video Searchbar -->
  <app-searchbar [todos]="todos" (filteredItemsChanged)="onFilteredItemsChanged($event)"></app-searchbar>

  <!-- Button to activate admin mode -->
  <div class="flex flex-col justify-center items-center mb-4" *ngIf="role == 'Admin'">
    <div
      class="border-solid border-2 w-44 bg-red-800 rounded-full hover:bg-red-900 transition duration-300 hover:scale-105 items-center "
      role="button" (click)="toggleAdminMode()">
      <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='#FFFFFF' class="w-14 mx-auto">
        <path
          d="M7.826 10.083a.784.784 0 0 0-.468-.175h-.701v4.198h.701a.786.786 0 0 0 .469-.175c.155-.117.233-.292.233-.525v-2.798c.001-.233-.079-.408-.234-.525zM19.236 3H4.764C3.791 3 3.002 3.787 3 4.76v14.48c.002.973.791 1.76 1.764 1.76h14.473c.973 0 1.762-.787 1.764-1.76V4.76A1.765 1.765 0 0 0 19.236 3zM9.195 13.414c0 .755-.466 1.901-1.942 1.898H5.389V8.665h1.903c1.424 0 1.902 1.144 1.903 1.899v2.85zm4.045-3.562H11.1v1.544h1.309v1.188H11.1v1.543h2.142v1.188h-2.498a.813.813 0 0 1-.833-.792V9.497a.813.813 0 0 1 .792-.832h2.539l-.002 1.187zm4.165 4.632c-.531 1.235-1.481.99-1.906 0l-1.548-5.818h1.309l1.193 4.569 1.188-4.569h1.31l-1.546 5.818z">
        </path>
      </svg>
      <p class="text-white">MODE</p>
    </div>
  </div>

  <!-- Filter buttons -->
  <div class="grid grid-cols-2 gap-4 sm:grid-cols-5 sm:gap-4 sm:px-96 pb-20 px-10">

    <!-- Button to filter all videos -->
    <button class="bg-gray-400 text-black rounded-lg hover:bg-gray-300" [class.active]="selectedType === 'Todos'"
      (click)="filterVideos('Todos')">Todos</button>
    <!-- Button to filter videos with sack -->
    <button class="bg-gray-400 text-black rounded-lg hover:bg-gray-300" [class.active]="selectedType === 'ConSaco'"
      (click)="filterVideos('ConSaco')">Con Saco</button>

    <!-- Button to filter videos with partner -->
    <button class="bg-gray-400 text-black rounded-lg hover:bg-gray-300" [class.active]="selectedType === 'ConPareja'"
      (click)="filterVideos('ConPareja')">Con Pareja</button>

    <!-- Button to filter videos with equipment -->
    <button class="bg-gray-400 text-black rounded-lg hover:bg-gray-300"
      [class.active]="selectedType === 'ConEquipamiento'" (click)="filterVideos('ConEquipamiento')">Con
      Equipamiento</button>

    <!-- Button to filter videos without equipment -->
    <button class="bg-gray-400 text-black rounded-lg hover:bg-gray-300"
      [class.active]="selectedType === 'SinEquipamiento'" (click)="filterVideos('SinEquipamiento')">Sin
      Equipamiento</button>
  </div>

  <!-- edit video modal -->
  <div *ngIf="editModal" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-500 bg-opacity-50">
    <div class="bg-white rounded-lg p-6 w-2/3 mx-auto">
      <h2 class="text-xl font-semibold mb-4">Edit <span class="text-red-600">{{ editedVideo.title }}</span></h2>
      <form [formGroup]="editVideoForm" (submit)="submitEditVideoForm()">
        <!-- Title -->
        <div class="mb-4">
          <label for="videoTitle" class="block text-black">Title:</label>
          <input type="text" id="videoTitle" name="videoTitle" formControlName="title"
            class="border-gray-300 border w-full rounded-lg px-4 py-2 text-center text-red-700">
          <!-- Mensaje de error required-->
          <p *ngIf="editVideoForm.get('title')!.hasError('required') && editVideoForm.get('title')?.touched"
            class="text-red-600">El título es requerido.
          </p>
          <!-- Mensaje de error pattern-->
          <p *ngIf="editVideoForm.get('title')!.hasError('pattern')  && editVideoForm.get('title')?.dirty"
            class="text-red-600">Formato no válido.
          </p>
          <!-- Mensaje de error maxlength-->
          <p *ngIf="editVideoForm.get('title')!.hasError('maxlength')  && editVideoForm.get('title')?.dirty"
            class="text-red-600">El título es demasiado
            largo.
          </p>
          <!-- Mensaje de error minlength-->
          <p *ngIf="editVideoForm.get('title')!.hasError('minlength')  && editVideoForm.get('title')?.dirty"
            class="text-red-600">El título es demasiado
            corto.
          </p>
        </div>
        <!-- Coach -->
        <div class="mb-4">
          <label for="videoCoach" class="block text-black">Coach:</label>
          <input type="text" id="videoCoach" name="videoCoach" formControlName="coach"
            class="border-gray-300 border w-full rounded-lg px-4 py-2 text-center text-red-700">
          <!-- Mensaje de error required-->
          <p *ngIf="editVideoForm.get('coach')!.hasError('required') && editVideoForm.get('coach')?.touched"
            class="text-red-600">El título es requerido.
          </p>
          <!-- Mensaje de error pattern-->
          <p *ngIf="editVideoForm.get('coach')!.hasError('pattern') && editVideoForm.get('coach')?.dirty"
            class="text-red-600">Formato no válido.
          </p>
          <!-- Mensaje de error maxlength-->
          <p *ngIf="editVideoForm.get('coach')!.hasError('maxlength') && editVideoForm.get('coach')?.dirty"
            class="text-red-600">El título es demasiado
            largo.
          </p>
          <!-- Mensaje de error minlength-->
          <p *ngIf="editVideoForm.get('coach')!.hasError('minlength') && editVideoForm.get('coach')?.dirty"
            class="text-red-600">El título es demasiado
            corto.
          </p>
        </div>
        <!-- Description -->
        <div class="mb-4">
          <label for="videoDescription" class="block text-black">Description:</label>
          <textarea id="videoDescription" name="videoDescription" formControlName="description"
            class="border-gray-300 border w-full rounded-lg px-4 py-2 text-center text-red-700 h-52"></textarea>
          <!-- Mensaje de error required-->
          <p *ngIf="editVideoForm.get('description')!.hasError('required') && editVideoForm.get('description')?.touched"
            class="text-red-600">La descripción es requerida.
          </p>
          <!-- Mensaje de error maxlength-->
          <p *ngIf="editVideoForm.get('description')!.hasError('maxlength') && editVideoForm.get('description')?.dirty"
            class="text-red-600">La descripción es demasiado
            larga.
          </p>
          <!-- Mensaje de error minlength-->
          <p *ngIf="editVideoForm.get('description')!.hasError('minlength') && editVideoForm.get('description')?.dirty"
            class="text-red-600">La descripcion es demasiado
            corta.
          </p>
        </div>
        <!-- URL -->
        <div class="mb-4">
          <label for="videoUrl" class="block text-black">URL:</label>
          <input type="text" id="videoUrl" name="videoUrl" formControlName="url"
            class="border-gray-300 border w-full rounded-lg px-4 py-2 text-center text-red-700">
          <!-- Mensaje de error required-->
          <p *ngIf="editVideoForm.get('url')!.hasError('required') && editVideoForm.get('url')?.touched"
            class="text-red-600">El url es requerido.
          </p>
          <!-- Mensaje de error minLength-->
          <p *ngIf="editVideoForm.get('url')!.hasError('minlength') && editVideoForm.get('url')?.touched"
            class="text-red-600">El url es demasiado corto.
          </p>
          <!-- Mensaje de error pattern-->
          <p *ngIf="editVideoForm.get('url')!.hasError('pattern') && editVideoForm.get('url')?.dirty"
            class="text-red-600">Formato no válido.
          </p>
        </div>
        <!-- Duración -->
        <div class="mb-4">
          <label for="videoDuration" class="block text-black">Duración:</label>
          <input type="text" id="videoDuration" name="videoDuration" formControlName="duration"
            class="border-gray-300 border w-full rounded-lg px-4 py-2 text-center text-red-700">
          <!-- Mensaje de error required-->
          <p *ngIf="editVideoForm.get('duration')!.hasError('required') && editVideoForm.get('duration')?.touched"
            class="text-red-600">La duración es requerida.
          </p>
          <!-- Mensaje de error pattern-->
          <p *ngIf="editVideoForm.get('duration')!.hasError('pattern') && editVideoForm.get('duration')?.dirty"
            class="text-red-600">Formato no válido.
          </p>
          <!-- Mensaje de error maxlength-->
          <p *ngIf="editVideoForm.get('duration')!.hasError('maxlength') && editVideoForm.get('duration')?.dirty"
            class="text-red-600">Formato no válido.
          </p>
        </div>
        <!-- Exclusivo -->
        <div class="mb-4">
          <label for="videoExclusive" class="block text-black">Exclusivo:</label>
          <input type="checkbox" id="videoExclusive" name="videoExclusive" formControlName="exclusive"
            class="border-gray-300 border rounded-lg px-4 py-2 text-center text-red-700">
        </div>
        <!-- Buttons -->
        <div class="flex justify-center">
          <button type="button" class="bg-gray-300 text-gray-800 px-4 py-2 rounded-lg mr-2"
            (click)="closeEditModal()">Cancel</button>
          <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg">Guardar Cambios</button>
        </div>
      </form>
    </div>
  </div>
  <!-- end edit video modal -->
  <!-- delet e modal -->
  <div *ngIf="deleteModal" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-500 bg-opacity-50">
    <div class="bg-white rounded-lg p-6 max-w-md mx-auto">
      <h2 *ngIf="selectedVideo !== null" class="text-xl font-semibold mb-4">Eliminar <b class="text-red-600">
          {{selectedVideo.title}}</b></h2>
      <p *ngIf="selectedVideo !== null">¿Estás seguro de que quieres eliminar el producto con ID <span
          class="text-red-600">
          {{selectedVideo.id}}</span>?</p>
      <p *ngIf="selectedVideo === null">Por favor, selecciona un producto para eliminar.</p>
      <div class="flex justify-end mt-4">
        <button type="button" class="bg-gray-300 text-gray-800 px-4 py-2 rounded-lg mr-2"
          (click)="cancelDelete()">Cancelar</button>
        <button type="button" class="bg-red-500 text-white px-4 py-2 rounded-lg"
          (click)="confirmDelete()">Eliminar</button>
      </div>
    </div>
  </div>
  <!-- end delete modal -->

  <!-- Filtered video list -->
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-3 sm:gap-12 sm:px-96 pb-20 text-center sm:text-justify">
    <!-- Loading screen while boxing videos are being fetched -->
    <div class="fixed inset-0 flex items-center justify-center shadow-xl" *ngIf="loading; else boxingContainer">
      <div class="absolute h-12 w-12 rounded-full border-t-4 border-b-4 border-gray-200"></div>
      <div class="absolute h-12 w-12 rounded-full border-t-4 border-b-4 border-red-500 animate-spin"></div>
      <img src="../../../assets/img/my_logo.webp" class="rounded-full h-8 w-8">
    </div>
    <ng-template #boxingContainer>
      <!-- Individual video item -->
      <div class="group relative" *ngFor="let video of filteredItems">
        <!-- Show only if in admin mode -->
        <ng-container>
          <a (click)="selectVideo(video)">

            <!-- Premium content icon -->
            <div class="premium-icon" *ngIf="video.exclusive">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #FFC300;"
                class="star-icon">
                <path
                  d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z">
                </path>
              </svg>
            </div>

            <!-- Thumbnail of the video -->
            <div class="flex items-center justify-center sm:justify-start">
              <img [src]="'../../../assets/img/' + video.modality_id + '.webp'"
                class="max-w-full sm:max-w-none transition duration-300 transform group-hover:scale-105">
            </div>

            <!-- Title of the video -->
            <h3 class="text-lg font-bold sm:mt-4">{{video.title}}</h3>
          </a>
        </ng-container>

        <!-- Modal for premium content -->
        <div [ngClass]="{'fixed inset-0 flex items-center justify-center z-50': modalOpen, 'hidden': !modalOpen}">

          <div class="absolute inset-0 bg-gray-500 opacity-10"></div>

          <div class="bg-red-100 p-8 rounded-lg z-50">

            <!-- Error message for premium content -->
            <h2 class="text-2xl font-bold font-sans mb-4">¡Ups!
              Contenido Premium</h2>

            <p class="font-sans">Este video es contenido
              premium. Para acceder, actualiza tu suscripción a standard o premium.</p>

            <!-- Button to close the modal -->
            <button class="mt-4 bg-gray-500 text-white px-4 py-2 rounded hover:bg-gray-600 mx-1"
              (click)="closeModal()">Volver</button>

            <!-- Button to subscribe -->
            <button class="mt-4 bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 mx-1"
              routerLink="/pricing">Subscribirse</button>
          </div>
        </div>
        <!-- Botones editar y eliminar cada video -->
        <div class="mb-2" *ngIf="adminModeActivated">
          <div class="flex flex-row">
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='#6AA328' class="w-9 mx-2"
              (click)="editVideo(video.id)">
              <path
                d="m7 17.013 4.413-.015 9.632-9.54c.378-.378.586-.88.586-1.414s-.208-1.036-.586-1.414l-1.586-1.586c-.756-.756-2.075-.752-2.825-.003L7 12.583v4.43zM18.045 4.458l1.589 1.583-1.597 1.582-1.586-1.585 1.594-1.58zM9 13.417l6.03-5.973 1.586 1.586-6.029 5.971L9 15.006v-1.589z">
              </path>
              <path
                d="M5 21h14c1.103 0 2-.897 2-2v-8.668l-2 2V19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2z">
              </path>
            </svg>
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='#DC2626' class="w-9 mx-2"
              (click)="openDeleteModal(video)">
              <!-- O openDeleteVideo(video) -->
              <path
                d="M5 20a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V8h2V6h-4V4a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v2H3v2h2zM9 4h6v2H9zM8 8h9v12H7V8z">
              </path>
              <path d="M9 10h2v8H9zm4 0h2v8h-2z"></path>
            </svg>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
